################################################
# _  _________   ______ _____ ___  _   _ _____ #
#| |/ / ____\ \ / / ___|_   _/ _ \| \ | | ____|#
#| ' /|  _|  \ V /\___ \ | || | | |  \| |  _|  #
#| . \| |___  | |  ___) || || |_| | |\  | |___ #
#|_|\_\_____| |_| |____/ |_| \___/|_| \_|_____|#
################################################                                             
#               Framework Core                 #
################################################

## Endpoints
{{serverEndpoints}} 

## You SHOULD edit the following:
sv_hostname "{{serverName}} | powered by Keystone"
sets sv_projectName " {{serverName}} | [{{recipeName}}]"
sets sv_projectDesc "{{recipeDescription}}"
sets tags "keystone"
sets locale "en-EN"
load_server_icon server_logo.png


## You CAN edit the following:
sv_enforceGameBuild 3095
sv_licenseKey "{{svLicense}}"
sv_maxclients {{maxClients}}
set steam_webApiKey "none"
set resources_useSystemChat true
set mysql_connection_string "{{dbConnectionString}}"

## Ace Permissions
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
# Deployer Note: this admin master has no identifiers to be automatically added.
# add_principal identifier.discord:111111111111111111 group.admin #example

## Admins

{{addPrincipalsMaster}}

################################################

# Resources

## CFX Defaults 
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure baseevents

## Standalone Resources
ensure oxmysql
ensure pma-voice

## Keystone Resources
ensure fivem_utils

## Core
ensure keystone
